// Colors
$white: #FFEFF4;
$off-white: #FFEFF4;
$lavender: #FFEFF4;
$melon: #FABFB7;
$salmon: #F9A195;
$light-grey: #888;
$dark-grey: #333;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;